#tabellaDaily {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  width:90%;
  max-width: 1200px;
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
}
#tabellaDaily thead th{
  border-color: transparent;
}
#tabellaDaily tbody td{
  border-color: transparent;
}
.table-rounded{
  border-radius: 25px;
}
.weekLine{
  border-top: 1.1px solid rgb(255, 196, 0);
}
@media only screen and (max-width: 425px) {
  #tabellaDaily {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 90%;
    margin: auto;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

#titolo_list {
  font-size: max(0.7rem, 1.5vw);
}
.react-date-picker {
  font-size: max(0.7rem, 0.8vw) !important;
}
#titolo_list h1 {
  font-size: max(0.7rem, 1.5vw);
}

#titolo_list {
  margin: auto;
  text-align: center;
}

#buttonRow {
  margin-top: 20px !important;
  margin-right: 2vw !important;
  margin-left: 2vw !important;
}
.btn {
  min-height: 50px;
  max-height: 50px;
  width: min(20vw, 100px);
}

@media only screen and (max-width: 426px) {
  #buttonRow button {
    font-size: 13px;
  }
  .btn {
    min-height: 30px;
    width: min(20vw, 100px);
  }
}
@media only screen and (max-width: 320px) {
  #buttonRow button {
    font-size: 10px;
  }
  .btn {
    min-height: 30px;
    width: min(20vw, 100px);
  }
}
tr {
  cursor: pointer;
}

td {
  text-align: center;
}
thead {
  text-align: center;
}

@media only screen and (max-width: 426px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    padding-left:10px !important;
    padding-right:10px !important;
    font-size: 10px;
    overflow-x: auto;
    display:flex;
    gap:20px;
    justify-content: space-between;
    
  }
  
  
    tr:first-child {
      border-radius: 25px 25px 0px 0px;
    }
    tr:last-child{
      border-radius: 0px 0px 25px 25px;
    }
    tr:only-child{
      border-radius: 25px 25px 25px 25px;
    }
    .posizioneClassifica:before {
      content: "Posizione";
      font-size: 12px;
      left: -50px;
    }
    .titolo:before {
      content: "Titolo";
      font-size: 12px;
    }
  .dataUscita:before {
    content: "Data Uscita";
    font-size: 12px;
  }
  .giorno:before {
    content: "Giorno";
    font-size: 12px;
  }
  .weekend:before {
    content: "Weekend";
    font-size: 12px;
  }
  .incasso:before {
    content: "Incasso";
    font-size: 12px;
  }
  .incassoDaily:before {
    content: "Incasso dDf wDf";
    font-size: 12px;
  }
  .incassoWeekend:before {
    content: "Incasso wDf";
    font-size: 12px;
  }
  .presenze:before {
    content: "Presenze";
    font-size: 12px;
  }
  .weekendTotaleAlGiorno:before {
    content: "Incasso ad oggi";
    font-size: 12px;
  }
  .weekendNumero:before {
    content: "Weekend in classifica";
    font-size: 12px;
  }
}
