#tabellaDaily {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  margin: auto;
  max-width: 80%;
}

#titolo_list h1 {
  font-size: 2vw;
}

#titolo_list {
  margin: auto;
  text-align: center;
}

#buttonRow {
  margin-top: 30px !important;
  margin-left: 50px;
  margin-right: 50px;
}

.sticky {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

tr {
  cursor: pointer;
}

td {
  text-align: center;
}
thead {
  text-align: center;
}
