.carouselImage {
  width: 100%;
  min-width: 300px;
  min-height: 800px;
  height: 93vh;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .carouselImage {
    width: 10vw;
    min-width: 100%;
    margin: auto;
    min-height: 400px;
    height: 85vh;
  }
}

@media only screen and (max-width: 426px) {
  .carouselImage {
    width: 10vw;
    min-width: 100%;
    margin: auto;
    min-height: 500px;
    height: 60vh;
  }
}
@media only screen and (max-width: 321px) {
  .carouselImage {
    width: 10vw;
    min-width: 100%;
    margin: auto;
    min-height: 300px;
    height: 85vh;
  }
}
