/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 205, 205);
  scrollbar-width: thin;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#RowMovieData {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#MovieTitle {
  margin: auto;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: min(9vw, 50px);
}

#ImagePoster a {
  margin: auto;
  height: 450px;
  max-width: 100%;
  transition: transform 0.2s; /* Animation */
}
#ImagePoster a img:hover {
  transform: scale(1.05);
}

#ImagePoster {
  padding-top: 60px;
  width: 100%;
  margin: auto;
  max-width: 100%;
  margin-bottom: 60px !important;
}

.ImgLinkFilm {
  text-decoration: none;
}

.TitoloCentrato {
  margin-top: 40px;

  text-align: center;
}
#MovieInfo {
  margin-left: 50px;
}

#MovieRandomInfo {
  margin-left: auto;
  margin-right: auto;
  font-size: min(5.5vw, 25px);
  max-width: 800px;
  width: 80vw;
  height: 50px;
}
#MovieRandomInfo img {
  margin-bottom: auto;
}
#MovieRandomInfo img {
  max-width: min(5vw, 30px);
  max-height: min(5vh, 30px);
  margin-left: 10px;
  margin-right: 10px;
}
#MovieDescription {
  margin: auto;
  background-color: aliceblue;
  padding: 20px;
  max-width: 80%;

  color: black !important;
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.219);
  margin-bottom: 20px;
}
#MovieCastSticky {
  margin-top: 20px !important;
  margin: 15px;
  padding: 20px;
  min-height: 280px;
  height: 26vh;
  max-height: 26vh;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 10px;
}
#MovieCastSticky a {
  text-decoration: none;
}

.CastCard {
  flex: 0 0 auto;
  display: inline-block;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  width: 90px !important;
  height: 215px !important;
  transition: transform 0.2s;
}

.CastCard:hover {
  transform: scale(1.1);
}

.CastCard div {
  padding: 3px;
  z-index: 1;
  color: black;
  max-width: 90px;
  word-wrap: break-word;
  font-size: 0.8rem;
  text-align: center;
}
.CastCard div p {
  font-style: italic;
  margin-top: -12px;
  padding: 3px;
  z-index: 1;
  color: black;
  max-width: 90px;
  word-wrap: break-word;
  font-size: 0.7rem;
}
.CastCardImage {
  width: 90px !important;
  margin-left: -1px;
  margin-top: -1px;
}

#MoreCastCard {
  border-radius: 10%;
  flex: 0 0 auto;
  margin-top: 7vh;
  transition: transform 0.2s; /* Animation */
  width: 90px !important;
  height: 90px !important;
  color: black;
  text-decoration: none !important;
  background-color: rgb(255, 255, 255);
}
#MoreCastCard:hover,
#MoreCastCard div:hover {
  /*
  transform: scale(1.1);
  
  */
  border-radius: 10%;
  background-color: rgb(43, 127, 184);
}
#MoreCastCard a {
  font-size: 1rem;
  text-align: center;
}

#MovieInfoSticky div {
  margin-top: 20px;
  margin-bottom: 20px;
}

#MovieInfoSticky {
  background-color: rgb(27, 26, 26);
  max-width: 100%;
  box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.219);
}

@media only screen and (min-width: 769px) {
  .sticky {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
  }

  .stickyCast {
    top: 640px;
    position: sticky;
    position: -webkit-sticky;
  }

  .stickyCastTitolo {
    top: 580px;
    position: sticky;
    position: -webkit-sticky;
  }
}
