.jumbo {
  background-image: url("/assets/banner1.png");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
  text-align: start;
  transition: all 0.5s ease;
  color: rgba(255, 255, 255);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: 2px 2px #000000;
}

#title {
  margin-left: 10px;
  margin-top: 100px;
  font-size: 4em;
  cursor: pointer;
}

#title:hover {
  color: rgb(88, 235, 240);
}

#title Image {
  transform: scale(0.5);
}

.navText {
  font-size: 1em;
}
.navHome {
  width: 30px;
}

.formInput {
  height: 40px !important;
  width: 150px !important;
}
.formButton {
  height: 40px !important;
  width: 50px !important;
  margin-left: 10px;
}
.formButton img {
  height: 25px !important;
  width: 25px !important;
}
@media only screen and (max-width: 768px) {
  #title {
    margin: auto;
    font-size: 3em;
    cursor: pointer;
  }
  .jumbo {
    height: 150px;
    display: flex;
  }
  .navText {
    font-size: 10px;
  }
  .AllNavBar {
    height: 50px;
  }
  .navHome img {
    height: 30px;
  }
  .formInput {
    height: 35px !important;
    width: 150px !important;
  }

  .formButton {
    height: 30px !important;
    width: 30px !important;
    margin-left: 10px;
  }
  .formButton img {
    height: 20px !important;
    width: 20px !important;
  }
}
@media only screen and (max-width: 426px) {
  .formInput {
    height: 30px !important;
    width: 70px !important;
  }
}

@media only screen and (max-width: 321px) {
  .navHome img {
    height: 25px;
  }
  .formInput {
    height: 30px !important;
    width: 50px !important;
  }
  .formButton {
    height: 20px !important;
    width: 10px !important;
  }
  .formButton img {
    height: 10px !important;
    width: 10px !important;
  }
}
